<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IgpQuickSanity">
<listeners>
<listener class-name="testComponent.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="IGP.Sanity.UserJourneyWithExpressDelivery"/>
      <class name="IGP.Sanity.internationalOrderFlow"/>
      <class name="IGP.Sanity.AllDeliveryTypesAndSearchWithCheckoutLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
